.git
.gitignore
.env
*.env
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.venv
venv
env
*.db
*.db-journal
*.sqlite
*.egg-info/
dist/
build/
node_modules
.DS_Store
README.md
notebooks/
tests/
